body {
    background-color: #f1f1f1;
    font-family: 'Courier', monospace;
    font-size: 0.9em;
    margin: 0px;
    color: #333;
}
h1 {
    font-size: 1.1em;
    font-weight: normal;
    margin-top: 32px;
}
a {
    color: #333;
    padding-bottom: 0px;
    text-decoration: underline;
    text-decoration-style: dotted;
}
ul {
    list-style-type: circle;
}
div#header {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    font-size: 32px;
    color: #444;
    padding-top: 20px;
    padding-bottom: 20px;
}
div#portfolio {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f5f5f5;
    padding-left: 20px;
    padding-right: 20px;
}
div#footer {
    text-align: center;
    border-top: 1px solid #dddddd;
}
div.container {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
div.app {
    display: inline-block;
    margin: 8px;
    font-size: 0.9em;
    width: 120px;
}
div.app > .label {
    font-size: 0.9em;
    margin-bottom: 6px;
    margin-left: 4px;
}
div.app > .thumb {
    width: 120px;
    height: 120px;
    border: 1px solid #666;
}
div.app > .thumb img {
    width: 100%;
}
ul.contacts > li {
    display: inline;
}
ul.contacts > li > a {
    font-size: 24px;
    color: #333;
}
.hidden {
    display: none;
}
